@page
@model WeLearn.IdentityServer.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="flex flex-col">
    <a href="~/Admin/Configuration">Configuration</a>
    <a href="~/Admin/Users">Users</a>
</div>